*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
}

body {
    background-color: rgb(255, 255, 255);
}

.desc{
    text-align: center;
    padding: 2%;
}

.header {
    text-align: center;
    margin-top: 5%;
    padding-bottom: 1%;
    border-bottom: 2px dashed black;
}

h1 {
    margin-bottom: 1%;
}

.copyright {
    border-top: 1px solid black;
    padding-bottom: 1%;
    text-align: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 2%;
    margin-left: 10%;
    margin-right: 10%;
}

.col {
    padding: 2%;
    max-width: 50%;
}

img{
    width: 80%;
    height: auto;
}

video {
    width: 60%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.hor {
    width: 100%;
}

p {
    text-align: center;
}

.misc{
    text-align: center;
}

.misc .col {
    border-bottom: 1px dashed black;
    max-width: 100%;
}

.misc .row {
    margin-left: 0;
    margin-right: 0;
    padding: 0;
}


@media (max-width: 660px){
    .col{
        max-width: 100%;
    }

    .row{
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .header{
        text-align: center;
        margin-top: 7.5%;
    }

    img{
        width: 100%;
        height: auto;
    }
}