body {
    background-color: rgb(240, 141, 95);
}

h1 {
    text-align: center;
    margin-top: 5%;
    padding-bottom: 5%;
    border-bottom: 2px dashed black;
}

.copyright {
    border-top: 1px solid black;
    margin-top: 7%;
    text-align: center;
}