.yap {
    background-color: rgba(68, 155, 209, 0.712) ;
}

.header {
    text-align: center;
    margin-top: 5%;
    border-bottom: 2px dashed black;
}

.material{
    padding-top: 1%;
    padding-inline: 15%;
}