.thoughts {
    background-color: rgb(203, 235, 255) ;
}

.imgpage {
    background-color: rgb(252, 242, 150);
}

.header {
    text-align: center;
    margin-top: 5%;
    border-bottom: 2px dashed black;
}

.postmaterial, .imgmaterial{
    padding-top: 1%;
    padding-inline: 15%;
}

.imgmaterial {
    text-align: center;
}

.indimg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 70%;
    padding-bottom: 5%;
}

.copyright {
    border-top: 1px solid black;
    margin-top: 7%;
    text-align: center;
}