* {
    box-sizing: border-box;
    background-color: rgb(227, 227, 227);
}

h1 {
    margin-left: 5%;
    margin-right: 5%;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    padding-bottom: 3%;
    border-bottom: 3px solid black;
    max-width: 100%;
}

.header video, .gif{
    width: 20%;
    height: auto;
}

img {
    width: 100%;
    height: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 2%;
}

.col {
    padding: 2%;
    max-width: 33%;
}

a, p{
    text-align: center;
    text-decoration: underline;
    font-size: 110%;
    color: black;
}

p:hover{
    color: white;
}

@media (max-width:660px){
    .header{
        flex-direction: column;
        text-align: center;
    }

    .header video, .gif {
        width: 60%;
    }

    h1{
        margin-left: 0%;
        margin-right: 0%;
        width: 100%;
    }
}