*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
}

.imgpage, .thoughts {
    background-color: #F5F5F5;
}

.header {
    text-align: center;
    margin-top: 5%;
    border-bottom: 2px dashed black;
}

.postmaterial, .imgmaterial{
    padding-top: 1%;
    padding-inline: 9%;
}

.imgmaterial {
    text-align: center;
}

.indimg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 70%;
    padding-bottom: 5%;
}

.copyright {
    border-top: 1px solid black;
    margin-top: 7%;
    text-align: center;
}


/*individual*/
.chadimg {
    max-width: 85%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}