* {
    width: auto;
    height: auto;
}

.main {
    text-align: center;
    background-color: rgb(247, 255, 237);
    /*background-image: url(./noise.svg);*/
    margin-top: 5%;
    font-size: 155%;
}

.homelinks {
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding: 50px;
    font-size: 130%;
    justify-content: center;
}

.homeimg {
    height: auto;
    width: 700px;
}


