body {
    background-color: rgb(255, 189, 189);
}

h1 {
    text-align: center;
    margin-top: 5%;
    padding-bottom: 2%;
    border-bottom: 3px solid black;
}

.container {
    position: relative;
    max-width: 250px;
    margin-inline: auto;
    margin-top: 4%;
    margin-bottom: -1.5%;
    text-align: center;
    font-size: 120%;
    border-radius: 20px;
    border: 1px solid;
    border-color: black;
}

.container.yap {
    background-color: white;
}

.container.tips {
    background-color: rgb(184, 244, 164);
}

.date{
    position: absolute;
    right: 10px;
    top: -20px;
    font-size: 15px;
}

.category {
    position: absolute;
    left: 10px;
    top: -20px;
    font-size: 15px;
}
