* {
    width: auto;
    height: auto;
}

body {
    text-align: center;
    background-color: paleturquoise;
    background: rgb(241, 235, 172);
    background-image: url(./noise.svg);
    margin-top: 20%;
}

